<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="MonoAndroid41" />
  <package id="Xamarin.Android.Support.v4" version="21.0.3.0" targetFramework="MonoAndroid41" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="21.0.3.0" targetFramework="MonoAndroid41" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="21.0.3.0" targetFramework="MonoAndroid41" />
  <package id="Xamarin.GooglePlayServices" version="22.0.0.0" targetFramework="MonoAndroid41" />
  <package id="Xamarin.Insights" version="1.8.2.105" targetFramework="MonoAndroid41" />
</packages>